apiVersion: apps/v1
kind: Deployment
metadata:
  name: static-app-deployment
  namespace: static-site
  labels:
    app: static
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: static
  template:
    metadata:
      labels:
        app: static
    spec:
      containers:
      - name: static-app-container
        image: sajliperween/static-site:latest
        ports:
        - containerPort: 80
